block content
  h1= title
  p Welcome to #{title}
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nam labore, iusto ipsum omnis magnam aut aspernatur voluptas repellendus cum? Ipsum incidunt repudiandae officia sapiente nostrum? Id ad incidunt dolorum!Labore magni neque in ad maiores voluptatum facilis nam amet? Tempora blanditiis omnis, nam numquam vero non quod, laboriosam fugiat nostrum recusandae necessitatibus fuga atque officiis ipsam tenetur in? Autem!At provident, iusto sit harum repellendus quae distinctio, nisi autem, porro sunt in aperiam quam animi. Illo possimus, accusantium assumenda quia magni eum repellat officiis mollitia corrupti. Earum, provident cumque?Fugit alias perferendis explicabo quam, in necessitatibus sapiente voluptatibus quod magnam omnis. Nisi dolor aliquam, et iure debitis commodi nesciunt eum, alias molestiae obcaecati aliquid! Eum a iste autem vel?Fugiat iure adipisci error alias quia autem dolorem nostrum nobis odit aut amet quibusdam maxime, nulla accusantium aperiam, doloremque ut suscipit aliquam repudiandae fugit laudantium magnam et! Natus, quis nemo!At, consectetur maiores fuga porro facere reiciendis, sequi amet similique cupiditate deleniti error. Nemo ducimus porro cupiditate vel voluptas iusto quo earum dignissimos, nihil labore adipisci dolorum eaque ut et.A dolore eum quisquam, ad excepturi laborum perferendis sed cumque error quia corrupti numquam dignissimos officiis dolorum beatae repudiandae id placeat adipisci sit optio nulla quam atque libero! Optio, animi?Officiis voluptate ipsum labore aperiam aliquid. Ipsa, deserunt veniam maiores nisi nemo dolorum sapiente delectus fugit quaerat dolores facere itaque necessitatibus, eaque velit, accusamus deleniti distinctio adipisci quae sed quod.Porro vitae commodi molestiae quaerat, cumque, reiciendis quos, ab saepe earum fuga repellat assumenda aliquid repellendus aut consequatur illo numquam suscipit atque corporis voluptas fugit vel. Enim ratione quidem nemo?Harum ad tempora officia praesentium quis blanditiis sequi consectetur eos! Fuga vitae, quis dolore tenetur qui, illum cum nobis molestiae voluptate eum voluptas! Delectus dolor voluptatibus odit laborum iusto. Magni!Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quae eius rerum. Esse, exercitationem dignissimos fugit temporibus molestias dolores veniam fuga asperiores delectus doloribus placeat molestiae minus cumque illo facere?
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  form(action='#' method='method')
    .form-group
      label(for='email') Email
      input.form-control(type='email', name='email' placeholder='Email' autofocus=true)
    .form-group
      label(for='password') Password
      input.form-control(type='password', name='{:password}' placeholder='Password')
    button.btn.btn-primary(type='submit') Log-in

  
  a(href = '/game') Wanna to play game?